---
title: "The Website Weekly Newsletter"
preheader: "👀 Lorem, ipsum, and much dolor in this week's edition"
image: https://images.unsplash.com/photo-1565932887479-b18108f07ffd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80
bodyClass: bg-slate-50
---

<extends src="src/layouts/main.html">
  <block name="template">
    <div class="w-full bg-[rgb(243 244 246)] p-2 md:p-8 md:my-8">
      <div class="h-full w-full max-w-7xl bg-white shadow-xl m-auto">
        <form class="flex h-full px-4 flex-col bg-white shadow-2xl">
          <div class="flex-1">
            <div class="bg-gray-50 py-6 sm:px-6">
              <div class="inline-flex w-full justify-between space-x-3">
                <div class="items-start space-y-1">
                  <h2
                    class="text-lg font-bold font-manrope text-gray-900"
                    id="slide-over-title"
                  >
                    Application form
                  </h2>
                </div>
                <div class="flex h-7 items-end justify-end">
                  <span
                    class="inline-flex items-end rounded-full bg-gray-200 px-3 py-0.5 text-xs font-medium text-gray-800"
                  >
                    Pre Approval
                  </span>
                </div>
              </div>
            </div>
            <div
              class="space-y-2 w-full py-6 sm:space-y-0 sm:divide-y sm:divide-gray-200 sm:py-0"
            >
              <div class="w-full space-y-1">
                <h4 class="text-base font-semibold text-gray-900 pb-4">
                  Personal Details
                </h4>
                <div class="flex flex-col">
                  <div class="flex flex-row justify-between items-center">
                    <label
                      for="project-description"
                      class="block text-sm font-medium text-gray-700 capitalize"
                    >
                      Full name:
                    </label>

                    <p
                      class="max-w-full overflow-hidden text-ellipsis break-words text-sm text-gray-500 capitalize"
                    >
                      -----------------first name-----------------------------
                    </p>
                  </div>
                  <div class="flex flex-row justify-between items-center">
                    <label
                      for="project-description"
                      class="block text-sm font-medium text-gray-700 capitalize"
                    >
                      Birth Year:
                    </label>

                    <p
                      class="max-w-full overflow-hidden text-ellipsis break-words text-sm text-gray-500 capitalize"
                    >
                      ------------birth year-----------------
                    </p>
                  </div>
                  <div class="flex flex-row justify-between items-center">
                    <label
                      for="project-description"
                      class="block text-sm font-medium text-gray-700 capitalize"
                    >
                      Residency:
                    </label>

                    <p
                      class="max-w-full overflow-hidden text-ellipsis break-words text-sm text-gray-500 capitalize"
                    >
                      ------------------------------------country
                      ----------------------
                    </p>
                  </div>
                </div>
              </div>
              <div class="w-full space-y-1">
                <h4 class="text-base font-semibold text-gray-900 pb-4">
                  Location of interest
                </h4>
                <div class="flex flex-col">
                  <div class="flex flex-row justify-between items-center">
                    <label
                      for="project-description"
                      class="block text-sm font-medium text-gray-700 capitalize"
                    >
                      Country:
                    </label>

                    <p
                      class="max-w-full overflow-hidden text-ellipsis break-words text-sm text-gray-500 capitalize"
                    >
                      ----------------------------------buying
                      country--------------------
                    </p>
                  </div>
                  <div class="flex flex-row justify-between items-center">
                    <label
                      for="project-description"
                      class="block text-sm font-medium text-gray-700 capitalize"
                    >
                      Regions:
                    </label>

                    <p
                      class="max-w-full overflow-hidden text-ellipsis break-words text-sm text-gray-500 capitalize"
                    >
                      --------------------------regions-----------------------------
                    </p>
                  </div>
                </div>
              </div>
              <div class="w-full space-y-1">
                <h4 class="text-base font-semibold text-gray-900 pb-4">
                  Financial information
                </h4>
                <div class="flex flex-col">
                  <div class="flex flex-row justify-between items-center">
                    <label
                      for="project-description"
                      class="block text-sm font-medium text-gray-700 capitalize"
                    >
                      Occupation:
                    </label>

                    <p
                      class="max-w-full overflow-hidden text-ellipsis break-words text-sm text-gray-500 capitalize"
                    >
                      ----------------------------occupation-------------------
                    </p>
                  </div>
                  <div class="flex flex-row justify-between items-center">
                    <label
                      for="project-description"
                      class="block text-sm font-medium text-gray-700 capitalize"
                    >
                      Monthly income:
                    </label>

                    <p
                      class="max-w-full overflow-hidden text-ellipsis break-words text-sm text-gray-500 capitalize"
                    >
                      ---------------------income with curr-----------------
                      after taxes
                    </p>
                  </div>
                  <div class="flex flex-row justify-between items-center">
                    <label
                      for="project-description"
                      class="block text-sm font-medium text-gray-700 capitalize"
                    >
                      Loans and rent payments:
                    </label>

                    <p
                      class="max-w-full overflow-hidden text-ellipsis break-words text-sm text-gray-500 capitalize"
                    >
                      --------Expesnses with currency-----------/month
                    </p>
                  </div>
                  <div class="flex flex-row justify-between items-center">
                    <label
                      for="project-description"
                      class="block text-sm font-medium text-gray-700 capitalize"
                    >
                      Credit Score:
                    </label>

                    <p
                      class="max-w-full overflow-hidden text-ellipsis break-words text-sm text-gray-500 capitalize"
                    >
                      ------------credit score ---------------------
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="space-y-2 px-4 sm:grid sm:grid-cols-3 sm:items-center sm:gap-4 sm:space-y-0 sm:px-6 sm:py-5"
              ></div>
            </div>
          </div>
          <div
            class="flex flex-shrink-0 border-t justify-between border-gray-200 px-4 py-5 sm:px-6"
          >
            <div class="block justify-start">
              <span
                class="self-center text-lg font-extrabold font-hypo text-black whitespace-nowrap dark:text-white"
              >
                hypotea
              </span>
              <small class="text-xs mb-2 opacity-50 block text-[0.6rem]">
                Finance your happy place.
              </small>
            </div>
          </div>
        </form>
      </div>
    </div>
  </block>
</extends>
